fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
groq
sentence-transformers
scikit-learn
hdbscan
rank-bm25
chromadb
langchain-text-splitters
playwright 
beautifulsoup4
pypdf
pdfplumber
easyocr
numpy
pillow
requests
deepeval
numpy
nltk